{
  "posts": [
    {
      "id": 1,
      "title": "json-server",
      "author": "typicode"
    }
  ],
  "comments": [
    {
      "id": 1,
      "body": "some comment",
      "postId": 1
    }
  ],
  "users": [
    {
      "email": "Sf@sdf.com",
      "password": "asfasdf",
      "id": 1
    },
    {
      "email": "asfd@adsfa.com",
      "password": "asfasfd",
      "id": 2
    },
    {
      "email": "Safd@sdf.com",
      "password": "asfasf",
      "id": 3
    },
    {
      "email": "Asfd@sdf.com",
      "password": "asdfasd",
      "id": 4
    },
    {
      "email": "Asf@asdfa.com",
      "password": "asdfasf",
      "id": 5
    },
    {
      "email": "Asdf@sdf.com",
      "password": "asdfasdf",
      "id": 6
    },
    {
      "email": "Asdf@sdf.com",
      "password": "asdfasdf",
      "id": 7
    },
    {
      "email": "Asdsakfj@sdfs.com",
      "password": "14124",
      "id": 8
    },
    {
      "email": "Asdfasd!@sdf.com",
      "password": "asfdasdf",
      "id": 9
    },
    {
      "email": "Asdfasd!@sdf.com",
      "password": "asfdasdf",
      "id": 10
    },
    {
      "email": "Asdfasd!@sdf.com",
      "password": "asfdasdf",
      "id": 11
    },
    {
      "email": "Asfasd@sfasf.com",
      "password": "sadfasdf",
      "id": 12
    },
    {
      "email": "Asdf@sdf.com",
      "password": "asfasdf",
      "id": 13
    },
    {
      "email": "Asf@sdfasdfsaf.com",
      "password": "asfasf",
      "id": 14
    },
    {
      "email": "Asdfasdf@sdfas.com",
      "password": "asfdasdf",
      "id": 15
    },
    {
      "email": "Asfd@safd.com",
      "password": "asfas",
      "id": 16
    },
    {
      "email": "Asfd@safd.com",
      "password": "asfas",
      "id": 17
    },
    {
      "email": "Asadfas@142124.com",
      "password": "asfdasdf",
      "id": 18
    },
    {
      "email": "Asadfas@142124.com",
      "password": "asfdasdf",
      "id": 19
    },
    {
      "email": "Saf@sflasjlfk.com",
      "password": "asafasf",
      "id": 20
    },
    {
      "email": "Saf@sflasjlfk.com",
      "password": "asafasf",
      "id": 21
    },
    {
      "email": "Sfas@sfd.com",
      "password": "sfasf",
      "id": 22
    },
    {
      "email": "Sfas@sfd.com",
      "password": "sfasf",
      "id": 23
    },
    {
      "email": "Sfas@sfd.com",
      "password": "sfasf",
      "id": 24
    },
    {
      "email": "Sdf@asfkh.com",
      "password": "asdfsa",
      "id": 25
    },
    {
      "email": "Sdf@asfkh.com",
      "password": "asdfsa",
      "id": 26
    },
    {
      "email": "Afasdf@sfd.com",
      "password": "asdfasd",
      "id": 27
    },
    {
      "email": "Asdf@asdf.com",
      "password": "asfdasd",
      "id": 28
    },
    {
      "email": "Asfd@sdf.com",
      "password": "asfdas",
      "id": 29
    },
    {
      "email": "Asdf@sdf.com",
      "password": "asdfsf",
      "id": 30
    },
    {
      "email": "Asdfasd@sdf.com",
      "password": "adsfsa",
      "id": 31
    },
    {
      "email": "Asdfasd@sdf.com",
      "password": "adsfsa",
      "id": 32
    },
    {
      "email": "Asdfasd@sdf.com",
      "password": "adsfsa",
      "id": 33
    },
    {
      "email": "Adfa@sdf.com",
      "password": "asdfadf",
      "id": 34
    },
    {
      "email": "ASDF@SDF.COM",
      "password": "asfsaf",
      "id": 35
    },
    {
      "email": "ASF@SDF.COM",
      "password": "SDFASD",
      "id": 36
    },
    {
      "email": "ASDF@SDF.COM",
      "password": "SADFA",
      "id": 37
    },
    {
      "email": "Sadf@SDF.com",
      "password": "asfdasfd",
      "id": 38
    },
    {
      "email": "Saf@sdf.com",
      "password": "sadfsf",
      "id": 39
    },
    {
      "email": "Asfd@sdef.com",
      "password": "asdfasd",
      "id": 40
    }
  ],
  "profile": {
    "name": "typicode"
  }
}